<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Zinucha</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if g.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('question._list') }}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('subway.subway_page') }}">🚇 지하철 위치 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled text-muted">
                        Server: {{ hostname }} ({{ server_ip }}) |
                        Session: {{ session_id[:8] }}... |
                        {{ current_time }}
                    </span>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('question._list') }}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('subway.subway_page') }}">🚇 지하철 위치 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">계정생성</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled text-muted">
                        Server: {{ hostname }} ({{ server_ip }}) |
                        Session: {{ session_id[:8] }}... |
                        {{ current_time }}
                    </span>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
